.help {
  position: absolute;
  background-color: #f3f3f3;
  color: #444444;
  z-index: 99;
  min-width: 250px;
  text-align: left;

  ul {
    margin: 0;
    li {
      border-bottom: 1px solid #dddddd;
      padding: 10px 12px;
    }
  }
  display: none;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.button {
  @media screen and (min-width: 600px) {
    position: relative;
  }
}

.active {
  background-color: #f3f3f3 !important;
  display: block;
  top: 120px;
  right: 0px;
  @media screen and (min-width: 600px) {
    top: 62px;
  }
}
