.table {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.rows{
  display: flex;
  flex-direction: column;
}

.headerRow, .row {
  display: flex;
  padding: 0px 28px
}

.headerRow {
  background-color: #F3F3F3;
}

.headerCell, .rowCell {
  padding: 18px 0px; 
  flex: 1;
}