.languageSelector {
  padding: 5px 0px 5px 5px;
  border-right: #e7e7e7 1px solid;
  color: #666666;
}

.languageSelector select {
  border: none;
  background-color: transparent;
  color: #666666;
}

.liveChat {
  font-size: 11px;
  border-left: #e7e7e7 1px solid;
  display: flex;
}

.liveChat button {
  border: none;
  background-color: transparent;
  color: #666666;
}

.topHeader {
  border-bottom: 1px #e7e7e7 solid;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: #666666;
}

.topHeaderFirstPart {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-right: auto;
}

.logout {
  border-right: #e7e7e7 1px solid;
  padding: 5px 5px 5px 5px;
}
.logout button {
  border: none;
  background-color: transparent;
  color: #666666;
  font-weight: 500;
}

.topHeaderSecondPart {
  display: flex;
  align-items: center;
}

.topHeaderSecondPart .messages {
  border-left: #e7e7e7 1px solid;
  padding: 5px 5px 5px 5px;
}

.topHeaderSecondPart .messages button {
  border: none;
  background-color: transparent;
  color: #cc0000;
}

.topHeaderLastPart {
  display: flex;
}

.shipToLocation {
  border-left: #e7e7e7 1px solid;
  padding: 5px 5px 5px 5px;
  font-weight: 500;
  font-size: 13px;
  color: #666666;
}

.shipToLocation span:first-child {
  padding-right: 10px;
}

.shipToLocation span:last-child {
  padding-left: 10px;
}

.findAccount {
  border-left: #e7e7e7 1px solid;
  padding: 5px 5px 5px 5px;
}

.findAccount button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #666666;
}



@media only screen and (max-width: 768px) {
  .topHeader {
    flex-wrap: wrap;
  }
  .topHeaderLastPart {
    border-top: 1px #e7e7e7 solid;
    flex: 1 1 100%;
    justify-content: center;
  }
  .shipToLocation {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .shipToLocation span:first-child {
    display: none;
  }
}