
.button {
  @media screen and (min-width: 600px) {
    position: relative;
  }
}

.active {
  background-color: #f3f3f3 !important;
  display: block;
  top: 120px;
  right: 0px;
  @media screen and (min-width: 600px) {
    top: 62px;
  }
}


.cart {
  position: absolute;
  background-color: #f3f3f3;
  color: #444444;
  z-index: 99;
  display: none;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.header {
  background-color: #CC0000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding:10px 15px 10px;
}

