.button {
  @media screen and (min-width: 600px) {
    position: relative;
  }
}

.cart {
  position: absolute;
  background-color: #f3f3f3;
  color: #444444;
  z-index: 99;
  display: none;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  min-width: 320px;
}

.active {
  background-color: #f3f3f3 !important;
  display: block;
  top: 120px;
  right: 0px;
  @media screen and (min-width: 600px) {
    top: 62px;
  }
}

.header {
  background-color: #cc0000;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px 10px;
  text-align: left;
}

.productItem {
  display: flex;
  justify-content: space-between;

  color: #595959;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}

.body {
  margin-top: 15px;
  padding: 10px 15px 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.totalItems {
  color: #cc0000;
}

.orderTotal {
  div:first-child {
    color: #444444;
    font-weight: bold;
  }
  div:last-child {
    color: #cc0000;
    font-size: 20px;
    font-weight: bold;
  }
}

.footer {
  padding: 10px 15px 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  button:first-child {
    border-radius: 18px;
    background-color: #cc0000;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    padding: 9px 40px;
    border: none;
  }

  button:last-child {
    border: 1px solid #CC0000;
    border-radius: 18px;
    padding: 9px 40px;
    color: #CC0000;
    font-weight: 500;
    text-align: center;
  }
}

.linkDescription {
  color: #444444;
  font-size: 12px;
  a {
    color: #CC0000;
    text-decoration: underline;
  }
  padding-top: 8px;
  text-align: left;
}