.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: #ffffff;
  margin-right: 12px;
  position: relative;

  &:hover {
    .hoverFooter {
      visibility: visible;
      bottom: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  img {
    margin: 6px 6px 0 0;
  }
}

.image {
  padding: 0px 40px;
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #444444;
}

.body {
  padding: 20px 12px;
}

.rating {
  display: flex;
  padding-top: 15px;
  div:last-child {
    padding-left: 6px;
  }
}

.subTitle,
.productCode,
.memberPrice,
.icons {
  padding-top: 15px;
  color: #666666;
  font-weight: normal;
}

.footer {
  border: 1px solid #eaeaea;
  border-radius: 0 0 3px 3px;
  padding: 11px 12px 11px 12px;
}

.price {
  display: flex;
  div:first-child {
    color: #444444;
    font-size: 20px;
    padding-right: 5px;
  }
  div:last-child {
    color: #666666;
    align-self: flex-end;
  }
}

.hoverFooter {
  position: absolute;
  visibility: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  bottom: -800px;

  transition: all 0.5s ease;
  will-change: top;
  

  .inStock {
    color: #666;
    span:first-child {
      color: #01787a;
      padding-right: 10px;
    }
    padding: 10px 0;
  }

  .addToCart {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    input {
      max-width: 20%;
      margin-right: 5px;
    }
    button {
      color: #fff;
      border: 1px solid #c00;
      background: #c00;
      width: 80%;
      padding: 10px 0;
      border-radius: 18px;
    }
  }
}
