.container {
  min-height: 100vh;
}

.languageSelector {
  padding: 5px 0px 5px 5px;
  border-right: #666666 1px solid;
  color: #666666;
}

.languageSelector select {
  border: none;
  background-color: transparent;
  color: #666666;
}

.liveChat {
  font-size: 11px;
}

.liveChat button {
  border: none;
  background-color: transparent;
  color: #666666;
}

.topHeader {
  border-bottom: #666666 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 768px) {
  .listItem {
    flex-basis: 100%;
    min-height: 250px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  /* .listItem {
    flex-basis: 30%;
    min-height: 250px;
  } */
}
